/* You can add global styles to this file, and also import other style files */
.container{
    width: 700px;
    margin: auto;
    background-color: #edf0f1;
    /* background-color: red; */
  }
  
  body, input, button {
    font-family: 'Roboto', sans-serif;
  }
  
  